
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dependency Result</title>
	<link rel="stylesheet" href="../static/reset.css" type="text/css">
	<link rel="stylesheet" href="../static/style1.css" type="text/css">
	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
	<script src="../static/js/jquery-1.9.0.js"></script>
	<script src="../static/js/script_output.js"></script>

</head>

<body>

	<div class="head-conatiner">
<!--	<dev> <img src='../static/img/a.jpg' class="image" style="float : left;width:16%;background-color:#B0C4DE;height: 98px;"></dev> -->
		<h1 class='blink_me1'>Clarify</h1>
		<h2 class='blink_me1'>Code Dependency Check</h2>
	<!--	<dev> <img src='../static/img/LG.jpg' class="image" style="width:16%;background-color:#B0C4DE;height: 98px;"></dev> -->
	</div>
	<div class='main-container'>
		<table class="tbl-output" border = 1 >
            <caption style="color:#B0C4DE">Input Data</caption>
             {% for key, value in dependency_check_output.iteritems() %}
			 		{% if key != 'SIT' and key != 'UAT' and key != 'PROD' and key != 'Conflicts' %}
			 		
			<thead>
				<tr>
					<th>{{key}}</th>
                    <th>{{value}}</th>
					
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot></tfoot>
					{% endif %}
            {% endfor %}
		</table>
		<table class="tbl-output1" border = 1 >
            <caption style="color:#B0C4DE">SIT</caption>
             {% for key, value in dependency_check_output.iteritems() %}
			 		{% if key == 'SIT'%}
					   	{% for key1,value1 in value.iteritems() %}
							

			<thead>
				<tr>
						{% if value1.split('-- ')[1] == 'Current' %}
						<th style="background-color:#2F4F4F;color:#B0C4DE" >{{key1}}</th>
                    	<th style="background-color:#2F4F4F;color:#B0C4DE">{{value1.split('-- ')[0]}}</th>
						<th style="background-color:#2F4F4F;color:#B0C4DE">{{value1.split('-- ')[1]}}</th>
						{%else%}
						<th>{{key1}}</th>
                    	<th>{{value1.split('-- ')[0]}}</th>
						<th>{{value1.split('-- ')[1]}}</th>
						{% endif %}
						
                    	
					
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot></tfoot>
						{% endfor %}
					{% endif %}
            {% endfor %}
		</table>
		<table class="tbl-output1" border = 1 >
            <caption style="color:#B0C4DE">UAT</caption>
             {% for key, value in dependency_check_output.iteritems() %}
			 		{% if key == 'UAT'%}
					   	{% for key1,value1 in value.iteritems() %}
			 		
			<thead>
				<tr>    {% if value1.split('-- ')[1] == 'Current' %}
						<th style="background-color:#2F4F4F;color:#B0C4DE" >{{key1}}</th>
                    	<th style="background-color:#2F4F4F;color:#B0C4DE">{{value1.split('-- ')[0]}}</th>
						<th style="background-color:#2F4F4F;color:#B0C4DE">{{value1.split('-- ')[1]}}</th>
						{%else%}
						<th>{{key1}}</th>
                    	<th>{{value1.split('-- ')[0]}}</th>
						<th>{{value1.split('-- ')[1]}}</th>
						{% endif %}
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot></tfoot>
						{% endfor %}
					{% endif %}
            {% endfor %}
		</table>
		<table class="tbl-output1" border = 1 >
            
             {% for key, value in dependency_check_output.iteritems() %}
			 		{% if key == 'PROD'%}
					 	<caption style="color:#B0C4DE">PROD</caption>
					   	{% for key1,value1 in value.iteritems() %}
					
			<thead>
				<tr>
					<th>{{key1}}</th>
                    <th>{{value1}}</th>
					
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot></tfoot>
						{% endfor %}
					{% endif %}
            {% endfor %}
		</table>
	<!--	<table class="tbl-output1" border = 1 >
            <caption style="color:#B0C4DE">Conflicts</caption>
             {% for key, value in dependency_check_output.iteritems() %}
			 		{% if key == 'Conflicts'%}
					   	{% for key1,value1 in value.iteritems() %}
			 		
			<thead>
				<tr>
					<th>{{key1}}</th>
                    <th>{{value1}}</th>
					
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot></tfoot>
						{% endfor %}
					{% endif %}
            {% endfor %}
		</table>  -->
		
</div>
</body>

</html>